<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Acme, Inc. - Products</title>
  </head>
  <body>
    <article>
      <h1>Acme, Inc. - Products</h1>
      <table>
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Orange Sticky Notes (90 squared notes 76mm X 76mm)</th>
            <td>2,99 EUR</td>
          </tr>
          <tr>
            <th scope="row">Fuchsia Sticky Notes (90 squared notes 76mm X 76mm)</th>
            <td>2,99 EUR</td>
          </tr>
          <tr>
            <th scope="row">Lilac Sticky Notes (90 squared notes 76mm X 76mm)</th>
            <td>2,99 EUR</td>
          </tr>
          <tr>
            <th scope="row">Blue Sticky Notes (90 squared notes 76mm X 76mm)</th>
            <td>2,99 EUR</td>
          </tr>
          <tr>
            <th scope="row">Pink Sticky Notes (90 rectangular notes 76mm X 127mm)</th>
            <td>3,99 EUR</td>
          </tr>
          <tr>
            <th scope="row">Green Sticky Notes (90 large rectangular notes 99mm X 147mm)</th>
            <td>4,99 EUR</td>
          </tr>
        </tbody>
      </table>
    </article>
  </body>
</html>
